body{
    background-color: #f8f6e5;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 10em;
    white-space: nowrap;
    color: #aec7b0;
}
a{
    color: #86a889;
    margin: 0 1vw;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 1.5vw;
}
a:hover{
    color: #FFBF86;
}
a:active{
    color: #FFBF86;
}
li{
    margin-bottom: 15px;
    color: white;
    font-size: 2.2em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    line-height: 2em;
}
.jumbotron{
    background-color: #f8f6e5;
}
.green{
    background-color: lime;
}
.weekly{
    background-color: #FFBF86;
}
.project{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 7vw;
    margin-bottom: 3%;
    color: whitesmoke;
}
